#title-card {
    width: 99%;
    background-color: black;
    height: 37.5rem;
    border-radius: .5rem;
}

#tall-card {
    width: 98%;
    height: 60rem;
    background-color: black;
    border-radius: .5rem;
}

#wide-card {
    width: 98%;
    background-color: black;
    height: 34rem;
    border-radius: .5rem;
}

#card-holder {
    display: flex;
    flex-direction: row;
}

#card {
    width: 48%;
    height: 23.5rem;
    border-radius: .5rem;
    position: relative;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-link {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-link h1 {
    font-size: 3.5rem;
    color: white;
    margin: 0 2rem 1rem 2rem;
    text-shadow: .1rem .1rem .1rem rgba(0,0,0,1);
    /*border-top: .1rem dotted rgba(0,0,0,.5);*/
    border-bottom: .1rem dotted rgba(0,0,0,.5);
    font-weight: bolder;
}

.card-link h3 {
    font-size: 1.5rem;
    color: #45025e;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.5);
    box-shadow: .1rem -.1rem .1rem rgba(255, 255, 255, .5);
    margin: 0 2rem -.25rem 2rem;
    font-weight: lighter;
    padding: 0 .75rem;
    background-color: rgba(250, 250, 250, .5);
    border-radius: 2rem;
}

#card, #wide-card, #tall-card, #title-card {
    box-shadow: .1rem .1rem .1rem rgba(0,0,0,.4);
}

#card p, #wide-card p, #tall-card p, #title-card p {
    z-index: -999;
    opacity: 0;
    font-size: .5rem;
}

#title-video {
    width: 100%;
}

#card-video {
    object-fit: cover;
    margin: auto;
    width: 100%;
    height: 37.5rem;
    border-radius: 5px;
}

#video-link {
    position: absolute;
    margin-top: -10rem;
}
