body {
  margin: 0;
  font-family: 'Finlandica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@media only screen and (max-width: 68.75em) { /* 1100px / 16px = 68.75em */
  html { font-size: 50%; }
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 150rem;
  margin: 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-content {
  display: flex;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-sm {
  gap: 2.5rem;
}

h1, h2, h3, h4, h5, label, p {
  font-family: 'Finlandica', sans-serif;
}
